In [1]:
# importamos las librerias necesarias para la realización de la práctica
import re
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
# introducimos la url desde donde haremos scraping
req = requests.get('https://datosmacro.expansion.com/otros/coronavirus')

# si el status code es 200, significa que la página se ha cargado de forma correcta
if req.status_code == 200:
    print('OK. Conexión establecida')
    content = req.content
    
html = BeautifulSoup(req.text, "html.parser")

# aquí iremos guardando los diferentes datos.
datos_pagina = {}

i=0

OK. Conexión establecida

In [3]:
paginas = html.find('tbody', {'tr': ''})
    
for datos in paginas:
    
    pais = datos.find('td').find('a').getText().split()[0]
    
    activos = datos.find_all('td', {'class': 'numero'})[0].getText()
    
    inc_recuperados = datos.find_all('td', {'class': 'numero'})[1].getText()
    
    recuperados = datos.find_all('td', {'class': 'numero'})[2].getText()
    
    inc_fallecidos = datos.find_all('td', {'class': 'numero'})[3].getText()
    
    fallecidos = datos.find_all('td', {'class': 'numero'})[4].getText()
    
    inc_confirmados = datos.find_all('td', {'class': 'numero'})[5].getText()
    
    confirmados = datos.find_all('td', {'class': 'numero'})[6].getText()
    
    confirmados_100_mil_hab = datos.find_all('td', {'class': 'numero'})[7].getText()
    
    
    datos_pagina[i] = [pais, activos, inc_recuperados, recuperados, inc_fallecidos, fallecidos, inc_confirmados,
                      confirmados, confirmados_100_mil_hab]
    
    i = i+1
    
    print (pais, activos, inc_recuperados, recuperados, inc_fallecidos, fallecidos, inc_confirmados,
                      confirmados, confirmados_100_mil_hab)

España 70.436 3.388 22.647 864 9.053 7.719 102.136 217,61
Alemania 54.933 2.600 16.100 130 775 4.923 71.808 86,50
Reino 23.509 8 179 382 1.793 3.028 25.481 38,23
Francia 39.782 1.549 9.513 502 3.532 7.657 52.827 78,83
Italia 77.635 1.109 15.729 837 12.428 4.053 105.792 175,27
Portugal 7.240 0 43 20 160 1.035 7.443 72,43
Estados 177.275 1.380 7.024 895 3.873 26.365 188.172 57,48
Japón 1.473 0 424 2 56 87 1.953 1,54
China 2.764 283 76.206 1 3.309 81 82.279 5,90
Andorra 354 0 10 4 12 6 376 493,59
Emiratos 597 0 61 1 6 53 664 6,89
Afganistán 165 3 5 0 4 4 174 0,47
Antigua 7 0 0 0 0 0 7 7,27
Albania 176 8 52 4 15 20 243 8,49
Armenia 499 0 30 0 3 50 532 17,94
Angola 4 1 1 0 2 0 7 0,02
Argentina 787 12 240 4 27 234 1.054 2,37
Austria 8.957 459 1.095 20 128 562 10.180 114,91
Australia 4.183 101 358 1 18 198 4.559 18,11
Azerbaiyán 267 0 26 1 5 25 298 2,99
Bosnia 390 0 17 3 13 52 420 11,99
Barbados 34 0 0 0 0 1 34 11,89
Bangladés 21 6 25 0 5 2 51 0,03
Bélgica 10.374 169 1.696 192 705 876 12.775 111,52
Burkina 215 1 32 2 14 15 261 1,32
Bulgaria 374 0 17 0 8 40 399 5,70
Baréin 268 16 295 0 4 52 567 36,13
Burundi 2     2 2 0,02
Benín 8 1 1 0 0 3 9 0,08
Brunéi 83 7 45 0 1 2 129 29,19
Bolivia 101 0 0 2 6 10 107 0,94
Brasil 5.389 7 127 42 201 1.138 5.717 2,73
Bahamas 13 0 1 0 0 0 14 3,71
Bután 4 0 0 0 0 0 4 0,53
Botsuana 3   1 1 1 4 0,18
Bielorrusia 104 15 47 1 1 0 152 1,60
Belice 3 0 0 0 0 0 3 0,78
Canadá 6.834 1.126 1.592 21 101 1.129 8.527 23,05
República 88 0 2 0 8 17 98 0,12
República 3 0 0 0 0 0 3 0,06
República 19 0 0 0 0 0 19 0,36
Suiza 14.349 0 1.823 74 433 683 16.605 194,33
Costa 171 1 7 0 1 11 179 0,71
Chile 2.570 0 156 4 12 289 2.738 14,62
Camerún 182 0 5 0 6 54 193 0,77
Colombia 859 16 31 4 16 108 906 1,82
Costa 341 0 4 0 2 17 347 6,91
Cuba 172 4 8 2 6 16 186 1,64
Cabo 5 0 0 0 1 0 6 1,10
Chipre 231 1 23 1 8 32 262 29,91
República 3.232 20 45 8 31 307 3.308 31,06
Yibuti 30 0 0 0 0 12 30 2,86
Dinamarca 2.872 4 77 13 90 284 3.039 52,34
Dominica 12 0 0 0 0 1 12 16,75
República 1.053 1 5 9 51 208 1.109 10,80
Argelia 626 9 46 9 44 132 716 1,70
Ecuador 2.111 51 54 15 75 278 2.240 13,16
Estonia 715 6 26 1 4 30 745 56,23
Egipto 507 7 157 5 46 54 710 0,73
Eritrea 15 0 0 0 0 3 15 0,30
Etiopía 24 -2 2 0 0 3 26 0,02
Finlandia 1.391 0 10 4 17 66 1.418 25,70
Fiyi 5 0 0 0 0 0 5 0,57
Gabón 15 0 0 0 1 9 16 0,75
Granada 9 0 0 0 0 0 9 8,08
Georgia 89 1 21 0 0 7 110 2,95
Ghana 125 29 31 0 5 9 161 0,54
Gambia 3 0 0 0 1 0 4 0,18
Guinea 22 0 0 0 0 0 22 0,18
Guinea 11 1 1 0 0 0 12 0,92
Grecia 1.213 0 52 6 49 102 1.314 12,25
Guatemala 25 2 12 0 1 2 38 0,22
Guinea-Bisáu 8 0 0 0 0 0 8 0,43
Guyana 10 0 0 1 2 4 12 1,54
Honduras 131 0 3 0 7 2 141 1,47
Croacia 794 0 67 0 6 77 867 21,27
Haiti 14 0 1 0 0 0 15 0,13
Hungría 439 3 37 1 16 45 492 5,03
Indonesia 1.311 6 81 14 136 114 1.528 0,58
Irlanda 3.159 0 5 17 71 325 3.235 65,96
Israel 5.114 63 224 4 20 663 5.358 60,33
India 1.239 21 123 3 35 146 1.397 0,10
Irak 474 18 170 4 50 64 694 1,81
Irán 27.051 745 14.656 141 2.898 3.110 44.605 54,16
Islandia 935 41 198 0 2 49 1.135 317,94
Jamaica 33 0 2 0 1 0 36 1,23
Jordania 239 4 30 0 5 6 274 2,75
Kenia 57 0 1 0 1 9 59 0,11
Kirguistán 104 0 3 0 0 13 107 1,71
Camboya 86 2 23 0 0 2 109 0,67
San 8 0 0 0 0 1 8 15,26
Corea 4.216 180 5.408 4 162 125 9.786 18,95
Kuwait 216 1 73 0 0 23 289 6,99
Kazajistán 317 3 24 1 2 41 343 1,86
Laos 9 0 0 0 0 1 9 0,13
Líbano 421 2 37 1 12 24 470 6,86
Santa 12 0 1 0 0 4 13 7,15
Liechtenstein 68 0 0 0 0 6 68 177,18
Sri 124 2 17 0 2 21 143 0,66
Liberia 3 0 0 0 0 0 3 0,06
Lituania 522 0 7 1 8 46 537 19,22
Luxemburgo 2.075 40 80 1 23 190 2.178 354,78
Letonia 397 0 1 0 0 22 398 20,73
Libia 9 1 1 0 0 2 10 0,15
Marruecos 557 9 24 3 36 61 617 1,75
Mónaco 49 1 2 0 1 3 52 135,77
Moldavia 331 3 18 2 4 55 353 9,96
Montenegro 107 0 0 1 2 18 109 17,52
Madagascar 57 0 0 0 0 14 57 0,22
Macedonia 308 0 12 2 9 44 329 15,84
Malí 26 0 0 0 2 3 28 0,15
Birmania 14   1 1 1 15 0,03
Mongolia 10 0 2 0 0 0 12 0,38
Mauritania 3 0 2 0 1 1 6 0,14
Malta 167 0 2 0 0 13 169 34,24
Mauricio 138 0 0 2 5 15 143 11,30
Maldivas 5 0 13 0 0 1 18 3,49
México 1.031 0 35 8 28 101 1.094 0,88
Malasia 2.186 58 537 6 43 140 2.766 8,54
Mozambique 8 0 0 0 0 0 8 0,03
Namibia 9 0 2 0 0 0 11 0,46
Níger 24 0 0 0 3 0 27 0,12
Nigeria 125 0 8 0 2 4 135 0,07
Nicaragua 4 0 0 0 1 1 5 0,08
Países 11.374 0 253 175 1.040 850 12.667 73,30
Noruega 4.589 1 13 7 39 196 4.641 87,10
Nepal 4 0 1 0 0 0 5 0,02
Nueva 572 11 74 0 1 58 647 13,12
Omán 157 5 34 1 1 13 192 4,59
Panamá 1.142 5 9 6 30 192 1.181 28,40
Perú 641 341 394 6 30 115 1.065 3,33
Papúa 1 0 0 0 0 0 1 0,01
Filipinas 1.947 7 49 10 88 538 2.084 1,95
Pakistán 1.836 0 76 5 26 221 1.938 0,96
Polonia 2.271 0 7 2 33 256 2.311 6,09
Estado 100 0 18 0 1 3 119 2,60
Paraguay 61 0 1 0 3 1 65 0,92
Catar 717 11 62 1 2 88 781 28,08
Rumanía 1.943 11 220 17 82 136 2.245 11,56
Serbia 884 0 0 0 16 115 900 12,92
Rusia 2.199 55 121 8 17 501 2.337 1,59
Ruanda 75 0 0 0 0 5 75 0,61
Arabia 1.388 50 165 2 10 110 1.563 4,64
Seychelles 10 0 0 0 0 2 10 10,33
Sudán 4 1 1 0 2 1 7 0,02
Suecia 4.239 0 16 34 180 407 4.435 43,35
Singapur 683 12 240 0 3 47 926 16,42
Eslovenia 777 0 10 4 15 46 802 38,54
Eslovaquia 360 -4 3 0 0 27 363 6,66
Sierra 1     1 1 0,01
San 197 0 13 1 26 6 236 682,28
Senegal 135 13 40 0 0 13 175 1,10
Somalia 4 1 1 0 0 2 5 0,03
Surinam 9 0 0 0 0 1 9 1,56
El 31 0 0 1 1 2 32 0,48
Siria 8 0 0 0 2 0 10 0,06
Suazilandia 9 0 0 0 0 0 9 0,79
Chad 7 0 0 0 0 2 7 0,05
Togo 23 9 10 0 1 4 34 0,43
Tailandia 1.299 113 342 1 10 127 1.651 2,44
Timor 1 0 0 0 0 0 1 0,08
Túnez 381 0 3 2 10 82 394 3,41
Turquía 13.074 81 243 46 214 2.704 13.531 16,50
Trinidad 83 0 1 0 3 5 87 6,26
Taiwan 278 0 39 0 5 16 322 1,37
Tanzania 17 0 1 1 1 0 19 0,03
Ucrania 618 2 10 4 17 97 645 1,54
Uganda 44 0 0 0 0 11 44 0,10
Uruguay 296 41 41 0 1 28 338 9,80
Uzbekistán 163 0 7 0 2 23 172 0,52
San 0 0 1 0 0 0 1 0,91
Venezuela 93 0 39 0 3 0 135 0,47
Vietnam 154 3 58 0 0 9 212 0,22
Sudáfrica 1.317 0 31 2 5 27 1.353 2,34
Zambia 35 0 0 0 0 0 35 0,20
Zimbabue 7 0 0 0 1 1 8 0,06

In [4]:
datos_df = pd.DataFrame.from_dict(datos_pagina, orient = 'index', columns = ['País', 'Activos', 'Inc Recuperados',
                                                                      'Recuperados', 'Inc. Fallecidos', 
                                                                      'Fallecidos', 'Inc. Confirmados',
                                                                      'Confirmados', 'Confirmados 100 mil hab.'])

In [5]:
datos_df

,País,Activos,Inc Recuperados,Recuperados,Inc. Fallecidos,Fallecidos,Inc. Confirmados,Confirmados,Confirmados 100 mil hab.
0,España,70.436,3.388,22.647,864,9.053,7.719,102.136,"217,61"
1,Alemania,54.933,2.600,16.100,130,775,4.923,71.808,"86,50"
2,Reino,23.509,8,179,382,1.793,3.028,25.481,"38,23"
3,Francia,39.782,1.549,9.513,502,3.532,7.657,52.827,"78,83"
4,Italia,77.635,1.109,15.729,837,12.428,4.053,105.792,"175,27"
...,...,...,...,...,...,...,...,...,...
171,Venezuela,93,0,39,0,3,0,135,"0,47"
172,Vietnam,154,3,58,0,0,9,212,"0,22"
173,Sudáfrica,1.317,0,31,2,5,27,1.353,"2,34"
174,Zambia,35,0,0,0,0,0,35,"0,20"
175,Zimbabue,7,0,0,0,1,1,8,"0,06"

In [6]:
# guardamos en *.csv los datos extraidos
datos_df.to_csv('covid_19.csv', sep = ';', index=False, header=False)